[2013-06-06 19:28] aegolden opened #2 "-[{SLTextField, SLWebTextField} setText:] should use the keyboard to type out the text."
Rather than use UIAElement.setValue. setValue permits text entry even when user interaction is disabled. Also, typing out the text more directly mimics user interaction and probably has repercussions for the textfields' delegates receiving the normal callbacks.

[2013-06-06 23:17] #2 closed, assigned to aegolden

[2013-06-07 23:55] MaxGabriel opened #10 "Can't access elements on SKStoreProductViewController without resorting to SLStaticElement"
I'm testing an app that shows an `SKStoreProductViewController`. So far, I haven't found a good way to access any elements inside it without resorting to `SLStaticElement`. I've [added code to the sample app to demonstrate this](https://github.com/MaxGabriel/SubliminalRemoteVC/blob/master/Example/Integration%20Tests/STModalTest.m).

The first test confirms that a regular modal view controller and

[2013-06-08 01:33] aegolden opened #12 "Subliminal's tests can't be run on iOS 5."
The testing targets have deployment targets set to iOS 6. Also, some target-specific bugs:
### Unit tests

Bug: f764e6c38d194384003f9ce075e45cffa7dd1e95. Proposed solution: https://github.com/inkling/Subliminal/commit/f764e6c38d194384003f9ce075e45cffa7dd1e95#commitcomment-3382208.
### Integration tests

Bug: they use iOS 6-only APIs in a few places. The troublesome calls are:

[code]

and

[code]

[2013-06-08 03:30] wearhere commented on #12
#11 addresses this partially (by fixing the deployment target issue).

[2013-06-08 07:01] MaxGabriel opened #13 "Subliminal asserts differ from NSAssert by casting to BOOL, causing failure 6% of the time"
`NSAssert(object, @"description")` treats the assertion as true if the object is non-nil, and false if the object is `nil`.

Subliminal's asserts cast their passed expression to a BOOL: `BOOL __result = (expression)`. Unfortunately [casting a non-nil object to a BOOL will resolve to `NO` 6% of the time](http://www.mikeash.com/pyblog/friday-qa-2012-12-14-objective-c-pitfalls.html). One possible sol

[2013-06-08 11:07] wearhere commented on #10
Hey Max, kudos to you for figuring this stuff out! The `SKStoreProductViewController` is, like you suggest, a remote VC. You can see this if you pause the app in the debugger with the controller up:

[code]

And there the view hierarchy dead-ends.

This sort of thing is, unfortunately, where `SLStaticElement` comes in--`SLElement` can't traverse, and thus match, objects within that remote view hie

[2013-06-08 11:29] wearhere commented on #13
Thanks for your repro cases! :thumbsup: I think that using `!!` sounds like a good solution.

`SLAssertTrue` was modeled after SenTest's `STAssertTrue` (see `SenTestCase_Macros.h`), which means that theirs is broken too, come to think of it... I wonder if their designers thought, because they called the macro "assert _true_" and not merely "assert", that users should be responsible for passing a b

[2013-06-09 00:24] MaxGabriel opened #14 "Running in Jenkins fails with: "Failed to authorize rights (0x2) with status: -60007.""
I'm setting up Subliminal in Jenkins and I've got everything working, except I get this error when after the simulator launches:

[code]

Two things that might be different for me:
1. When I first tried to run the tests, an alert popped up on the Jenkins computer that said:

(I did so, then restarted the computer.)
1. The machine is running OS X 10.7.5

The error occurs regardless of passing the -

[2013-06-09 00:26] MaxGabriel commented on #10
Thanks for the feedback Jeff. So I think that Instruments can handle recording interaction with some remote view controllers, as most interactions worked fine with [`MFMailComposeViewController`](http://oleb.net/blog/2012/10/more-on-remote-view-controllers/). Your solution sounds like the best approach for `SKStoreProductViewController`. Closing the issue

[2013-06-09 00:26] #10 closed, assigned to nobody

[2013-06-09 00:37] MaxGabriel commented on #14
Ok, current strategy is to download mountain lion and try that out.

[2013-06-09 01:42] wearhere commented on #14
The "GUI scripting" alert is expected; that preference needs to be enabled in order for `subliminal-test` to manipulate the simulator. Despite the alert, we should probably add that requirement to the "Continuous Integration" section of the README and to `subliminal-test`'s usage statement.

I think that "failure to authorize rights" message is related to http://openradar.appspot.com/radar?id=1544

[2013-06-09 01:43] wearhere commented on #14
On Mountain Lion the username field is pre-filled, so `authorize_instruments` only needs the password; but maybe on Lion it's blank, like in the screenshot on that Stack Overflow thread?

[2013-06-09 21:50] MaxGabriel commented on #14
Ok so I upgraded to Mountain Lion, but no luck there. It works fine when I go to the Jenkins machine and run the command locally, whether using `-login_password` or `--live` (so I know the password is correct). When I run from Jenkins, I never see the alert.

Our master Jenkins is run on AWS, and we connect to the slave iMac via SSH; not sure if that changes anything.

Nice catch with the SO threa

[2013-06-09 22:33] MaxGabriel commented on #14
Uh.. so I added the [security unlock step](http://stackoverflow.com/a/9678612/1176156) and [this step](http://stackoverflow.com/a/11416025/1176156) but that didn't work. Then I restarted the computer, and now the tests work.

I still get this message:

[code]

Pretty ridiculous. Thanks for your help Jeff. Is Travis any easier than this?

[2013-06-09 22:33] #14 closed, assigned to nobody

[2013-06-10 00:46] wearhere commented on #14
There are a couple of reasons why Travis is very nice, but ease of running UIAutomation tests is not one of them, heh. At first we didn't have the VMs' password, so we couldn't authorize instruments any which way; and we still can't screen-share, which makes it difficult to debug e.g. simulator timeouts. The Travis guys have great support though and I'm hoping that they'll make further improvement

[2013-06-10 02:29] MaxGabriel opened #16 "Screencast link broken"
The [current link](https://vimeo.com/67765518) to the screencast is broken. I searched Vimeo and found [this one](http://vimeo.com/67771344), but it seemed identical.

[2013-06-10 07:03] aegolden commented on #13
This is a good suggestion (even though our assert macros have the "true" and "false" on the end Max is right that projects without all the warnings turned on could be caught off guard.  Pull request here: https://github.com/inkling/Subliminal/pull/17

[2013-06-10 08:20] #13 closed, assigned to nobody

[2013-06-10 18:38] wearhere commented on #16
Thanks for pointing that out, @MaxGabriel. I originally put the screencast up on my personal Vimeo account and then we later uploaded it to Inkling's account and I took my copy down. I'll update the link along with some other things in the README later today.

[2013-06-11 02:46] wearhere opened #18 "Enable testing against the iOS 5.1 SDK on Travis."
Once it is installed:  travis-ci/travis-ci#1157. It is disabled in the changes I am about to put up.

[2013-06-11 09:01] #16 closed, assigned to wearhere

[2013-06-11 15:48] MaxGabriel opened #23 "Xcode DP5 warning: Implicit conversion from enumeration type 'enum CGImageAlphaInfo' to different enumeration type 'CGBitmapInfo' (aka 'enum CGBitmapInfo')"
The existing code is:

[code]

I'm not really familiar with this depth of CG, but I saw that SDWebImage does something like this?

[code]

It might be a bug on Apple's part. From the documentation it seems that you should be able to pass just the `kCGImageAlphaPremultipliedLast`.

[2013-06-11 19:07] aegolden commented on #23
I think the way to do this is to change the last argument to `kCGBitmapAlphaInfoMask & kCGImageAlphaPremultipliedLast`.  It's basically the same trick as is being used in SDWebImage:  `kCGBitmapAlphaInfoMask` is of type `CGBitmapInfo` so this should silence the compiler warning, and the `&` ensures that the actual value passed to `CGBitmapContextCreate` is unchanged; however I think `kCGBitmapAlph

[2013-06-11 19:16] aegolden commented on #23
Pull request here: https://github.com/inkling/Subliminal/pull/24

[2013-06-11 19:51] MaxGabriel commented on #23
Thanks that was a great explanation

[2013-06-12 19:22] #23 closed, assigned to nobody

[2013-06-16 02:58] MaxGabriel opened #29 "Cocoapods Integration"
I got Subliminal working through Cocoapods this morning.

Advantages:
1. Easy to keep subliminal up to date without using git submodules
2. Never see Subliminal's own Unit/Integration tests, which is confusing
3. When you install Subliminal you won't get all of its schemes added to your project
4. Since Cocoapods uses it's own `.xcconfig` file, I don't think it's possible to use Subliminal's `.xcc

[2013-06-16 05:29] wearhere commented on #29
I am fully on board with creating a podspec. :+1: We found Wed. that Subliminal's installation instructions don't anticipate how messy people's project files can get. Part of working around that is giving them a packaged solution like Cocoapods. I had actually begun using [your guide](http://maxgabriel.github.io/companyAndTheCocoapod/) to create a podspec but working with you directly is even bett

[2013-06-16 06:26] MaxGabriel commented on #29
Oh, my guide is more targeted for frameworks, static libraries and bundles rather than open-source projects, so it probably wouldn't be helpful.

Will put up a PR.

Re bullet 2: Cocoapods asks that the code you give the user doesn't include tests, documentation, example projects, etc. so the schemes wouldn't be useful anyway. If they want to make modifications to Subliminal, AFAIK the Cocoapods wa

[2013-06-21 20:46] MaxGabriel opened #31 "Can't build workspace using subliminal-test"
I'm using standard CI script from the README to run Subliminal through Jenkins, except I'm using Cocoapods, so I need to choose a workspace to build:

[code]

But when I run the script I get the following error:

[code]

The script works fine against a standard `.xcodeproj` file.

[2013-06-21 20:51] MaxGabriel commented on #31
Ah, now that I check the `subliminal-test` script, it looks like it isn't using the workspace argument at all:

[code]

[2013-06-21 21:00] MaxGabriel commented on #31
Cool, so swapping out the `-project "$PROJECT"` argument with `-workspace "$WORKSPACE"` fixes it for me, though obviously there's still a bug in the script. I don't really know any shell scripting -- is there a good way to express that if `$PROJECT` is blank, use `-workspace "$WORKSPACE"`, else use `-project "$PROJECT"` ?

[2013-06-22 07:32] wearhere opened #32 "Support iOS 7."
- [x] Bring in #11
- [x] Fix integration test failures when running against the iOS 7 SDK.

Moved to #92 (held on travis-ci/travis-ci#1422):
- [ ] Enable CLI testing against the iOS 7 SDK
- [ ] Update the iPhone integration tests to use the 3.5" iPhone Retina (the only device that can run 5.1, 6.0, and 7.0)
  - We should not do this until we are going to enable CLI testing, because devices are nam

[2013-06-22 07:51] wearhere opened #33 "Enable `subliminal-test` to run using Xcode 4.6 even when Xcode 5 is installed."
Installing Xcode 5 changes the Xcode developer directory which messes up `subliminal-test` insofar as Subliminal isn't fully compatible with the Xcode 5 toolchain.

[2013-06-22 07:52] wearhere commented on #33
This is a stopgap for #32.

[2013-06-22 08:10] wearhere commented on #31
Good catch @MaxGabriel! Can you try building your workspace off of https://github.com/inkling/Subliminal/tree/jeff/respect_workspace_arg? It looks like `subliminal-test` will now properly prepare a workspace build command but I don't have any to build.

[2013-06-22 08:52] wearhere commented on #31
@MaxGabriel, despite Travis' current failure on https://github.com/inkling/Subliminal/tree/jeff/respect_workspace_arg, it'd still be worth giving it a try--it's failed due to a quirk of executing the `reset_simulator` Applescript which has never occurred in our testing either locally or using Jenkins... only when using Travis. >.< Any failure is, of course, unacceptable, and I'll be looking into r

[2013-06-22 09:27] MaxGabriel commented on #31
Well one thing's for certain, I probably shouldn't be testing your changes on master...

[2013-06-23 00:09] wearhere commented on #31
Heh, did you mean because of the test failure, or because of the rebasing? It looks a bit hairy here, as the issue collects the commits that tag it, but imo makes the commit history much easier to read and ensures that commits that break the build never go into master (both on principle and so that we could run `git bisect` at some later point).

Anyway #34 is good now and will probably be merged

[2013-06-23 00:16] MaxGabriel commented on #31
Haha no, I just forgot to switch to your branch entirely. It was late.

[2013-06-23 02:07] #31 closed, assigned to wearhere

[2013-06-23 02:07] #33 closed, assigned to wearhere

[2013-06-25 01:42] wearhere commented on #18
Despite travis-ci/travis-ci#1157 still being open, it seems that Travis actually does have 5.1 installed: https://travis-ci.org/inkling/Subliminal/builds/8408220. So this doesn't describe anything apart from #12 now; closing.

[2013-06-25 01:42] #18 closed, assigned to wearhere

[2013-06-25 10:27] #12 closed, assigned to nobody

[2013-07-02 14:08] MaxGabriel opened #36 "Link in slStringByEscapingForJavaScriptLiteral 404s"
The comment in the implementation of `slStringByEscapingForJavaScriptLiteral` 404s:

[code]

[Clickable](http://ecma262-5.com/ELS5_HTML.htm#Section_7.8.4)

http://ecma262-5.com/ gives a 'Web Page Unavailable'  -- not sure what to read from that.

[This page](http://www.ecma-international.org/ecma-262/5.1/#sec-7.8.4) may be equivalent to what that link was pointing to.

[2013-07-02 21:19] wearhere commented on #36
Yes, looks like they moved it. Thanks for finding the new link.

[2013-07-02 22:51] #36 closed, assigned to wearhere

[2013-07-04 10:35] nzhuk opened #40 "Running Subliminal on Jenkins"
Hi,

I'm using Subliminal with latest release versions of dev tools (Xcode 4.6.3, OS X 10.8.4). I use the following script to launch subliminal-test on CLI:

[code]

It all works just fine on my local machine's CLI, but when I try to run this script from a Jenkins build phase on a remote Mac, I observe the following scenario:
- subliminal-test runs
- iOS Simulator is launched
- The console outputs

[2013-07-04 11:31] nzhuk opened #41 "-[SLButton isTappable] returns NO for a UITabBarItem element"
I have a standard UITabBarController with a UITabBar and 4 UITabBarItems in it. When I query for a UITabBarItem with title "ButtonTitle", I get a valid result back and isValidAndVisible returns YES. However, isTappable returns NO and therefore I cannot tap it during the test.

[code]

Normal UIButtons in the same view are working fine, and I can tap then normally with the 'tap' method. Any advice

[2013-07-04 19:28] aegolden commented on #40
Is anything interesting appearing in the system log on the remote machine?

[2013-07-04 19:50] aegolden commented on #41
This does appear to be a bug in Subliminal.  I've pushed up a branch here:

https://github.com/inkling/Subliminal/tree/test_for_buttons_in_tab_bar

with integration test cases in the SLButton test suite that demonstrate this issue.

[2013-07-04 22:06] wearhere commented on #41
Thanks for putting up test cases @aegolden.

What's going on is that Subliminal is not accounting for `UITabBar` being one of the classes that [forces its presence in the accessibility hierarchy](https://github.com/inkling/Subliminal/blob/master/Sources/Classes/UIAutomation/User%20Interface%20Elements/NSObject+SLAccessibilityHierarchy.m#L60) even if it's not accessible, so we're trying to identify

[2013-07-05 01:16] wearhere commented on #40
[This thread](https://github.com/phonegap/ios-sim/issues/5), particularly [this reply](https://github.com/phonegap/ios-sim/issues/5#issuecomment-1343242) and [this reply](https://github.com/phonegap/ios-sim/issues/5#issuecomment-9022079), seem like they might have the answer. I can confirm, by executing `sudo su` and then `subliminal-test`, that `instruments` will not launch the app if you are the

[2013-07-05 05:32] nzhuk commented on #41
Thanks guys, this seems to fix the issue!

[2013-07-05 07:29] wearhere commented on #41
Sure @nzhuk. We'll have the fix in master once I fix up #42's build.

[2013-07-05 10:35] nzhuk commented on #40
Ok, moving Jenkins launchd plist file from LaunchDaemons to LaunchAgents and rebooting the build machine seemed to do the trick. Thanks!

[2013-07-05 10:35] #40 closed, assigned to nobody

[2013-07-17 20:13] #41 closed, assigned to nobody

[2013-07-21 22:13] wearhere opened #46 "Subliminal fails to identify buttons in action sheets in popovers."
This is because Subliminal is failing to identify both the popover and the action sheet. Two bugs:
- [x] Subliminal doesn't include action sheets in accessibility paths.
- [x] Subliminal cannot identify popovers while they show action sheets, because Subliminal identifies instances of `_UIPopoverView` by their superview's accessibility label of "dismiss popup" and the superview does not carry that

[2013-07-21 22:17] wearhere commented on #46
#47 fixes the first bug.

[2013-07-22 01:03] wearhere commented on #46
Also fixes the second bug, now.

[2013-07-22 03:37] #46 closed, assigned to nobody

[2013-07-27 09:47] phatmann opened #48 "Cannot find table cell with custom layout"
I have a UITableViewCell that uses a custom layout with a UILabel inside of it. When I do logElementTree on the main window, I see the cell in the list and it says its name is "foo". However, `[SLElement elementWithAccessibilityLabel:@"foo"]` does not find the cell. Manually setting the accessibilityLabel of the cell itself did not help. On the other hand, if I manually set the cell's accesibility

[2013-07-27 21:23] wearhere commented on #48
Hey @phatmann, some code to replicate your table view cell would be great, thanks. I can't tell offhand how this might differ from the existing table view test cases in `SLElementMatchingTest`.

[2013-07-27 21:31] wearhere commented on #48
`-[SLElementMatchingTest testCannotMatchIndividualChildLabelsOfTableViewCell]` looks closest to your situation--it verifies that cells derive their accessibility labels from their child `UILabels`' text. It successfully tests that two labels are combined into one; when I modified the `SLElementMatchingCell` it uses to only have one label, that still seemed alright.

[2013-07-29 05:30] phatmann commented on #48
I have been unable to create a test case that fails in the Subliminal test suite, after many attempts.

So I decided to take a different tack, and I turned on script logging for the failing test in my app. I was surprised what I saw.

Here is the test:

[code]

And here is the log:

[code]

So when my test calls:

[code]

The script being sent is:

[code]

For some reason Subliminal is not looking

[2013-07-29 08:28] wearhere commented on #48
Thanks for your research @phatmann, this is very interesting. I note that Subliminal isn't trying to tap _exactly_ the same element the second time--it's identifying a `WebAccessibilityObjectWrapper` inside the text field rather than the text field itself. (Those sorts of objects are used by `UIWebView` to represent text etc., and I know that `UITextView` uses a `UIWebView` to render its text; I g

[2013-07-29 12:34] phatmann commented on #48
The text field does in fact capitalize on entry. As the user types, a list of suggestions appears in a table view below the text field, and these suggestions are also capitalized.  That is why typing "shirt" results in a cell named "SHIRT" appearing. I verified (using Zucchini) that the cell is reachable by name via UIAutomation.

I will see if I can debug the problem from within my app. I will al

[2013-07-29 13:09] phatmann commented on #48
I know exactly what is going on now. If I change my test to only type "shir"

[code]

then the test passes. Subliminal thinks I am trying to match the search text field when I look for an element named "SHIRT", since the field contains the text "SHIRT". However, the name of this field is set to "Search Text" via an accessibilityLabel. I verified that

[code]

is a nil element, and

[code]

is the

[2013-07-30 00:17] wearhere commented on #48
Thanks for figuring this out, @phatmann! You're totally right, Subliminal should not be trying to match the text within the field when UIAutomation does not recognize that as a valid element. I've fixed this in the pull request that just went up. We should have it merged within the next day or so.

[2013-07-30 05:26] #48 closed, assigned to nobody

[2013-07-30 17:15] phatmann commented on #48
Glad to have helped, this was a tricky bug. Subliminal is awesome and getting better :-)

[2013-07-30 21:52] wearhere opened #50 "`subliminal_uialog_to_junit` does not log uncaught exceptions as test case errors."
`subliminal_uialog_to_junit` expects "errors" (unexpected failures) to have been logged in the format: "Test case -[ _testClassName_ _testCaseName_ ] failed unexpectedly." However, uncaught exceptions aren't logged as such because… they're not caught (by the test runner).

To associate such exceptions with the test cases in which they occurred, we'll either have to:
- have `subliminal_uialog_to_ju

[2013-07-31 07:24] #50 closed, assigned to nobody

[2013-08-05 23:46] aegolden opened #53 "testSLWaitUntilTrueDoesNotThrowIfConditionIsStillFalseAtEndOfTimeout accuracy doesn't make sense"
The test case

testSLWaitUntilTrueDoesNotThrowIfConditionIsStillFalseAtEndOfTimeout

uses an accuracy of 0.01 for the SLWaitUntilTrue:withTimeout: timeout, but the definition of SLWaitUntilTrue waits for an additional 0.25 seconds every time the test expression fails.

So we can reasonably expect at least 0.25 seconds extra time in the worst case.  On the other hand, I don't think we should ever e

[2013-08-06 05:52] wearhere commented on #53
You're right, it's a coincidence that I happened to pick a timeout which was cleanly divisible by the retry delay.

I think that you're also right that we shouldn't allow the actual wait to ever drop below the expected wait... this is actually a flaw in all the timeout based tests (both unit and integration)--they all look something like

[code]

--oops.

[2013-08-13 23:18] wearhere commented on #53
It also looks like `-[SLTerminalTest waitDelayVariability]` doesn't account for the variability in JS execution (i.e. I forgot to update that calculation like I did elsewhere in the project in 2ea104695f10). Sample Travis failure: https://travis-ci.org/inkling/Subliminal/builds/10175832#L1863.

[2013-08-14 03:19] #53 closed, assigned to nobody

[2013-08-15 22:18] wearhere opened #63 "JavaScript exceptions are not tagged with call site information in logs."
For instance, if UIAutomation cannot scroll `fooElement` to visible, `[UIAElement(fooElement) scrollToVisible]` will cause UIAutomation to throw an JavaScript exception, which is then rethrown by Subliminal as an `SLTerminalJavaScriptException`. But, despite the use of the `UIAElement` macro, this exception will be logged as being at an "Unknown location".

[2013-08-15 22:41] wearhere commented on #63
This occurs because, to guard against mislabeling exceptions with stale call-site information, `SLTest` only tags exceptions thrown by `SLTest` or `SLUIAElement`, as determined by the name of the exception.

[2013-08-16 01:58] wearhere opened #65 "`-[SLElement logElement]` logs the element's bound name."
Rather than its original [name](https://developer.apple.com/library/ios/documentation/ToolsLanguages/Reference/UIAElementClassReference/UIAElement/UIAElement.html#//apple_ref/javascript/instm/UIAElement/name), because we [bind](https://github.com/inkling/Subliminal/blob/master/Sources/Classes/Internal/SLAccessibilityPath.h#L111) the element in order to tell UIAutomation to evaluate `logElement()`.

[2013-08-16 04:54] #63 closed, assigned to wearhere

[2013-08-16 19:50] #65 closed, assigned to nobody

[2013-08-17 02:07] nicnocquee opened #68 "App Hook fails when registering a method defined in superclass' category"
@aegolden thanks for answering my question in [SO](http://stackoverflow.com/questions/18254163/how-to-simulate-table-view-or-collection-view-scrolling-using-kif-or-subliminal). It works.

I tried to play around with AppHook but it seems like registering a selector which is defined in superclass' category doesn't work.

For example, in [my sample app](https://github.com/nicnocquee/TestSubliminal),

[2013-08-18 05:13] wearhere commented on #68
It looks like the problem was that the category wasn't linked with the integration tests target:

![napkin 08-17-13 10 10 12 pm](https://f.cloud.github.com/assets/110000/982092/77e7bf26-07c4-11e3-9855-2da5f3024c21.png)

Easy enough to miss! The app would compile just fine because nothing called `scrollToBottom` directly, but at runtime, the method wouldn't be found. When `UICollectionViewControlle

[2013-08-18 05:42] nicnocquee commented on #68
OMG! You're right! Thanks :)

[2013-08-18 05:42] #68 closed, assigned to nobody

[2013-08-20 23:51] wearhere opened #70 "Travis can't build Subliminal's documentation."
See https://travis-ci.org/inkling/Subliminal/builds/10427868#L2996.

[2013-08-21 00:06] wearhere commented on #70
This is a regression:
1. a couple of days ago, appledoc's homebrew formula was updated to point to version 2.2 (mxcl/homebrew@3f58cdc0940ce96d2ff7956290f9b0501e73a835)
2. We tell Travis to draw the latest version of appledoc by running `brew update; brew install appledoc` before each build: https://github.com/inkling/Subliminal/blob/master/.travis.yml#L11
3. [appledoc version 2.2](https://github.c

[2013-08-21 00:10] wearhere opened #71 "Update Subliminal to use appledoc 2.2."
At the least, this will entail that we document enum values and bitmasks (tomaz/appledoc#378).

[2013-08-21 02:03] #70 closed, assigned to wearhere

[2013-08-21 20:11] wearhere opened #72 "`subliminal_uialog_to_junit` does not report failures in suite-level set-up or tear-down."
If an `SLTest` fails in `-setUpTest` or `-tearDownTest`, Subliminal will log an error and report that test as failing--but the JUnit report parsed from that run's UIAutomation log will not.

This is because JUnit does not have a concept of run-once-per-suite set-up or tear-down like Subliminal does; all errors must be attached to tests(1), and this is what `subliminal_uialog_to_junit` expects. Nev

[2013-08-27 01:28] #72 closed, assigned to wearhere

[2013-08-30 22:01] wearhere opened #78 "Reproducing test runs."
### Goals

To track down [test pollution](http://pivotallabs.com/find-test-pollution-rspec/)

it would be useful to:
1. be able to reproduce failing test runs in the order that the tests ran.
2. (within that run) skip to a particular test--e.g. the last one before the tests started failing, on the theory that that test was the polluter.
### Proposal

Tests are currently run in a pseudorandom order

[2013-08-30 22:29] aegolden commented on #78
Could we just use the first method and rely on the `focus_` functionality to restrict the tests that run?  For example, I might `focus_` the test before the one that failed and the one that failed, and then I'd like to be able to use `runTests:usingSeed:withCompletionBlock:` and see just those two tests run, but guaranteeing that they run in the same order they did the first time.

We'd have to so

[2013-09-02 01:16] wearhere commented on #78
I like that idea a lot @aegolden. I hadn't actually thought about how focussing would work while tests were seeded but I think that will compose nicely.

[2013-09-07 03:57] #78 closed, assigned to nobody

[2013-09-09 22:34] wearhere commented on #71
We should wait to tackle this until there's an explanation of how to document enum values and bitmasks beyond [this screenshot](https://github.com/tomaz/appledoc/issues/2#issuecomment-21579308). [Appledoc's documentation](http://gentlebytes.com/appledoc/) is currently down…

It would also be nice to update `.travis.yml` to use an archived release of Appledoc 2.2 (e.g. Homebrew/homebrew-versions#20

[2013-09-10 00:00] wearhere opened #81 "Add a "heartbeat timeout"."
If tests finish before the timeout with which `instruments` (via `subliminal-test`) is invoked elapses, thus `SLTerminal.js` finishes, then `instruments` will stop right away. It won't just sit there waiting for the full timeout.

But, if the app enters an infinite loop, so `SLTerminal.js` never completes, then `instruments` will wait for the full timeout before exiting. (If `instruments` isn't in

[2013-09-10 00:06] wearhere opened #82 "Revise Subliminal's documentation."
- [x] Migrate installation process to wiki page to slim the README

EDIT: This issue used to talk about adding contributing guidelines but that was moved to #166.

[2013-09-26 21:27] wearhere opened #83 "Simulate custom gestures"
A custom gesture is a gesture other than tapping/touching-and-holding (at a single point), dragging/swiping (in straight lines), or rotating.

To simulate arbitrary gestures, we would need to be able to simulate touches directly, as occurring at specific points, at particular times.

[2013-09-26 21:29] wearhere opened #84 "Record custom gestures"
Once Subliminal has the ability to simulate a series of touches (#83), it will be desirable to have some tool that lets us record such a series--i.e. sample a gesture at a certain interval--so that the user does not have to manually calculate touch offsets and durations.

[2013-10-05 03:19] wearhere commented on #83
- [x] Single-touch, continuous gestures
- [ ] Multi-touch gestures (up to 5 fingers)
  - assert that there are no more than 5 touches per touch state
  - investigate how the system interpolates between multiple touches at different states (i.e. between touches at points `[p1, p2]` and `[p3, p4]` does the touch at `p1` move to `p3` simply based on its index in the array or what)
- [ ] discrete gest

[2013-10-05 03:25] wearhere commented on #84
- [x] Develop "headless" recorder
- [x] Gestures (#83) can be serialized/deserialized
- [ ] Develop gesture recording UI
  - Highlight (element) rect with reference to which the gesture is being recorded
  - Allow gesture to be played back, re-recorded (i.e. before the test continues)

[2013-10-14 19:02] aegolden opened #91 "SLKeyboard's typeString can't handle character variants that require a tap-hold"
SLKeyboard's typeString method is able to change key-planes as needed, but seems to be incapable of handling key variants that require a tap-hold on the default key variant.

[2013-10-15 22:38] wearhere opened #92 "Enable CLI testing against the iOS 7 SDK."
- [x] Parallelize Subliminal's tests (#96)
- [x] Update the Rakefile to run the tests on 7.0
- [x] Update the Rakefile to use the 3.5" iPhone Retina in integration tests (the only device that can run 5.1, 6.0, and 7.0).
- [x] Remove all definitions of `kCFCoreFoundationVersionNumber_iOS_6_1` from the project (as it will be included in the iOS 7 SDK)
  - Or update the rationale for keeping it in: w

[2013-10-16 06:17] #32 closed, assigned to nobody

[2013-10-21 20:16] wearhere opened #96 "Parallelize Subliminal's unit and integration tests by test type * device type * SDK."
Using Travis' build matrix feature: http://about.travis-ci.org/docs/user/speeding-up-the-build/#Parallelizing-your-builds-across-virtual-machines.

This will cut Subliminal's test time by 75% currently and even more once we add iOS 7 (#92).

[2013-10-21 23:13] #91 closed, assigned to nobody

[2013-10-23 19:45] aegolden opened #97 "subliminal-test can hang if Instruments puts up an alert at the end of the tests"
I've seen Jenkins CI jobs hang a couple of times in the subliminal-test script, when all the tests for the job have completed but Instruments shows an alert like "The simulated application quit."

I think the launch_instruments function in subliminal-test is waiting for Instruments to exit, and Instruments doesn't exit if it shows an alert like that.

[2013-10-23 19:53] wearhere commented on #97
Hm. We could make an applescript to watch for and dismiss such an alert, similar to the script that `subliminal-test` uses to watch for and dismiss `instruments`' authorization alert.

[2013-10-24 15:24] pockany opened #98 "Subliminal doesn't work using Xcode 5.0.1 (because UIAutomation doesn't work under Xcode 5.0.1)"
Subliminal doesn't work using Xcode 5.0.1. It is because UIAutomation doesn't work under Xcode 5.0.1 . It is an Apple bug, and there is nothing we can do to fix it. The exact problem is described here : https://devforums.apple.com/message/910612 . Multiple bugreports have already been sent to them about this problem from the Apple Developer Community.

[2013-10-24 23:48] wearhere commented on #98
Thanks for filing a report, @pockany. Whatever issue exists appears to be particular to certain installations--I've been running 5.0.1 for weeks without issue--on Mountain Lion. On the other hand, on Mavericks, I am able to run tests against the 6.1 SDK, but not the 7.0 SDK/simulator.

Note also that since Xcode 5, there's been an issue where Instruments fails to launch tests in a 6.1 Simulator, s

[2013-10-25 00:38] wearhere commented on #98
Since there's nothing that Subliminal can do about these bugs, I've summarized our discussion here in the "Known Issues" section of the README and will now close this issue. Please let us know if there's anything we can do to help, though--and if you hear about these bugs being fixed before we do, please pass the good word along! :)

[2013-10-25 00:38] #98 closed, assigned to nobody

[2013-10-25 07:12] #96 closed, assigned to wearhere

[2013-11-06 10:01] tulushev commented on #98
Xcode 5.0.2 is here, with fix to UIAutomation.

[2013-11-13 23:00] rgonzo opened #101 "Cannot run tests in a Test class in a specified order"
I have tried to order my tests numerically so that they run in a specified order but when I execute my tests, the test run does not adhere to the numerical naming convention. How do I specify which test runs?

[2013-11-13 23:01] rgonzo opened #102 "If one test fails, the entire test suite quits"
If one test fails, the entire test suite quits.  I would like to be able to continue with the rest of the test despite a test failure.

[2013-11-13 23:02] rgonzo opened #103 "Please add 'tapOffset' method to SLUIAElement class"
Please add 'tapOffset' method to SLUIAElement class:
- (void)tapOffset: (NSString *)xCoord :(NSString *)yCoord {
  [self waitUntilTappable:YES thenSendMessage:[NSString stringWithFormat:@"tapWithOptions({ tapOffset: { x: %@, y: %@ } })",xCoord, yCoord]];
  }

[2013-11-14 04:59] wearhere commented on #102
Hey @rgonzo, I've not seen this happen, except if the application (as opposed to the test) throws an exception and that exception's not caught. Is that what's happening? (You can tell if the last message in the logs is "Uncaught exception occurred...") If so, Subliminal can't prevent the abort--it can't catch exceptions thrown by the application, on their own (non-test) thread--though it can and d

[2013-12-03 00:20] rgonzo opened #104 "Tests will randomly hang at different points during test run"
When running my test suite through Xcode or through the command-line, I have noticed that the tests will sit and hang for no apparent reason. I have no clue why the test will suddenly hang.  The test will essentially hang forever or until I stop it. I have about 19 lengthy tests that are supposed to run but it gets to the 3rd or 4th or 5th test and then it just randomly stops.

By the way, when I

[2014-01-14 10:25] wearhere commented on #92
All done!

[2014-01-14 10:25] #92 closed, assigned to nobody

[2014-01-14 10:26] wearhere commented on #92
(Closed by #109.)

[2014-01-15 01:41] dmur commented on #29
:+1:

[2014-01-15 03:41] wearhere commented on #103
Can you please describe a use case for such a method, @rgonzo? I don't mean what the API would literally do, like the documentation says, but why you might want to tap at a point other than the element's [accessibility activation point](https://developer.apple.com/library/ios/documentation/uikit/reference/UIAccessibility_Protocol/Introduction/Introduction.html#//apple_ref/occ/instp/NSObject/access

[2014-01-16 01:50] wearhere commented on #104
Hey @rgonzo, sorry for the late response. Can you tell us anything more about the point at which the tests hang? For instance, is your app hung, or the tests? You could tell by trying to interact with your app while it's running. If the tests are hung, at which method calls are they hung?

You might also use the debugger to figure out what's going on when a hang occurs. See the last answer [here](

[2014-01-16 01:59] wearhere opened #114 "Add `SLScrollView`."
To match `UIScrollViews`, with an API corresponding to [`UIAScrollView`](https://developer.apple.com/library/ios/documentation/ToolsLanguages/Reference/UIAScrollViewClassReference/UIAScrollView/UIAScrollView.html).

[2014-01-17 00:51] wearhere commented on #101
Hi @rgonzo, there's currently no mechanism for specifying an order in which to run test cases. Our concern about adding such dependencies would be that they might make the tests brittle: see [this comment](https://github.com/inkling/Subliminal/pull/56#issuecomment-22574447) and [my response](https://github.com/inkling/Subliminal/pull/56#issuecomment-22584515), in a discussion about ordering tests.

[2014-02-06 01:35] wearhere commented on #103
Closing pending further comment.

[2014-02-06 01:35] #103 closed, assigned to nobody

[2014-02-06 01:35] wearhere commented on #102
Closing pending further comment.

[2014-02-06 01:35] #102 closed, assigned to nobody

[2014-02-06 01:36] wearhere commented on #104
Closing pending further comment.

[2014-02-06 01:36] #104 closed, assigned to nobody

[2014-02-11 07:25] wearhere commented on #102
For reference, I think that this issue was addressed [on Stack Overflow](http://stackoverflow.com/a/20342333/495611).

[2014-02-17 19:46] wearhere commented on #101
Closing this issue pending further comment.

[2014-02-17 19:46] #101 closed, assigned to nobody

[2014-02-17 20:11] wearhere opened #123 "Randomize test case order."
This is a follow-up to #80. That request randomized test order, but not test _case_ order: `SLTest` runs its test cases in whatever order their containing set uses to enumerate them, which is non-deterministic. For the same reasons as test order was randomized (#78), test case order should be randomized.

I propose that the randomization logic that `SLTestController` uses be factored out into a ca

[2014-02-18 22:16] jazzychad commented on #123
Hi Jeff,
Thanks for taking the time to think about this. I think your approach seems reasonable.

I think it would be most straightforward (in the context of Subliminal) if the same seed that is used to randomize the tests could easily be passed into this new method to randomize the test cases. Seems like it should be, as the main call site is inside the runTests:usingSeed:withCompletionBlock: met

[2014-02-18 23:15] wearhere commented on #123
Yeah, that sounds like a good idea @jazzychad.

[2014-02-19 01:21] jazzychad opened #126 "Add tagging system to SLTests"
Something we would like to achieve with Subliminal is to be able to run certain subsets of tests which are "related" (whatever that means for the particular use-case).

Just as we have `[SLTest allTests]`, it might be nice to have something like `[SLTest testsWithTags:@["tagOne", "tagTwo", "tagThree]]` to run tests that identify themselves as having one of the specified tags.

I was thinking of ad

[2014-02-19 02:00] jazzychad commented on #126
Actually I think `tags` would have to be a class method on each test class for ease of implementation (and it will play nicer w/ the current system that `allTests` uses).

[2014-02-19 02:54] jazzychad commented on #126
Ok, I have a working version of this in a local branch. I've written some unit tests to go with it and it's working as expected. I'll clean up the code and add the appledoc comments in the morning.

[2014-02-27 01:51] wearhere commented on #126
Superseded by #127.

[2014-02-27 01:51] #126 closed, assigned to nobody

[2014-03-05 01:58] wearhere opened #132 "Typing intermittently fails on iOS 7."
We intermittently see the following bugs on iOS 7:
- [ ] UIAutomation mistypes certain characters ([example](https://travis-ci.org/inkling/Subliminal/jobs/20007257#L439), [other example](https://travis-ci.org/inkling/Subliminal/jobs/20013341#L272))
- [ ] Tapping a keyboard key doesn't register ([example](https://travis-ci.org/inkling/Subliminal/jobs/20007268#L266))

[2014-03-05 04:11] #132 closed, assigned to nobody

[2014-03-09 22:57] MaxGabriel opened #135 "Subliminal incorrectly thinks elements are invisible in non-portrait orientations"
Hi, I think there's a bug where Subliminal incorrectly labels an element invisible in non-portrait orientations. I created [a sample project](https://github.com/MaxGabriel/SubliminalLandscapeBug) replicating this bug.

I believe the problem comes from [this block of code](https://github.com/inkling/Subliminal/blob/master/Sources/Classes/Internal/NSObject%2BSLVisibility.m#L300-L316). In landscape,

[2014-03-09 22:59] MaxGabriel commented on #135
Doubt it'd be helpful, but here's the trace file from the Instruments run https://s3.amazonaws.com/uploads.hipchat.com/1658/151914/AnCa4c6gojjpUMA/SubliminalLandscapeTrace.trace.zip

[2014-03-10 00:46] wearhere commented on #135
Thanks for the terrific bug report @MaxGabriel! I can reproduce. I imagine that it’s a matter of needing to transform the context into which the view is rendered, but I'm not quite sure how to do that myself... @aegolden can you take a look?

[2014-03-12 20:46] volbap opened #137 "Wiki improvement"
Guys, on the wiki, below this section:

Running the Example App

You forgot to add the following steps:
`git submodule init`
`git submodule update`

Otherwise I was getting "OCMock.h file not found" error.

Cheers.

[2014-03-12 21:33] wearhere commented on #137
Thanks for the report @pablolvillar. I'm a bit curious because OCMock isn't a dependency of the example project itself, but rather Subliminal's own tests--so theoretically you shouldn't need to initialize this dependency unless you wanted to work on Subliminal itself.

When you opened the example project, did you by chance try to build the "_Subliminal_ Integration Tests" scheme? Then you'd get th

[2014-03-13 09:31] wearhere commented on #135
Hey @MaxGabriel, we're looking into the bug. In the meantime, you can fall back on UIAutomation's visibility routine using the following:

[code]

Sorry for the inconvenience.

[2014-03-13 14:26] volbap commented on #137
No problem. I remember I did.

Also, in this part:
"To apply this file to your target, expand Subliminal's project reference in your navigator pane, then drag the Integration Tests.xcconfig file into the base level of your Integration Tests group."
It wasn't quite clear for me whether I had to copy the file or just drag the reference. As at first I copied it, it was leading the project not to comp

[2014-03-13 16:50] MaxGabriel commented on #135
Cool no problem.

[2014-03-13 17:40] volbap commented on #137
Yes, you were right. It was because I was working with Subliminal itself. Sorry for that.

Still I couldn't make Subliminal work on my project :( I did follow all the steps and I could make it build (profile), but when instruments starts I get "An error occurred while trying to run the script." (referencing SLTerminal.js)

Any ideas on what could be going on?
Thanks in advance.

[2014-03-13 20:00] wearhere commented on #137
Just made some changes to the README per your feedback, thanks.

Regarding that error, have you tried resetting the simulator and then restarting Instruments (i.e. quitting it and then selecting "profile" from Xcode again)? Also what OS, version of Xcode, and simulator type are you using?

[2014-03-14 17:52] volbap commented on #137
Hey there. I did the whole setup process again and it seems it's been fixed. But now it hangs with just one log that says "Tests are starting up...", while the script status is Stopped.

I did add the lines on the app delegate to make the framework detect my tests and I do have a class which inherits from SLTests and has tests like "- (void)testLoginSuccessful".

I'm looking forward to see it work

[2014-03-20 00:59] jazzychad opened #141 "Ability to specify initial Instruments launch timeout from subliminal-test"
We are noticing that it always takes X runs of the subliminal runner to successfully wait for Instruments to launch in CI - so basically the first X-1 builds are wasted time while we wait for the Instruments timeout to become high enough.

It would be handy to be able to specify the initial (or some additional) Instruments launch timeout value (in seconds probably) from the subliminal-test argumen

[2014-03-23 01:38] MaxGabriel opened #143 "Can Subliminal use the new -w flag to select a device using instruments?"
I noticed in the [Xcode 5.1 release notes](https://developer.apple.com/library/mac/releasenotes/DeveloperTools/RN-Xcode/Introduction/Introduction.html) that `instruments` now lets you specify a device:

I know that Subliminal jumps through several hoops to achieve this right now—is this new feature sufficient to replace the disabling/enabling of other SDKs and such?

This isn't really an issue per

[2014-03-23 02:23] wearhere commented on #143
Thanks for reminding me about this! This does indeed appear to resolve http://openradar.appspot.com/radar?id=3107401 (meaning no more disabling/enabling SDKs!) as well as http://openradar.appspot.com/radar?id=3106401 (meaning we wouldn't have to [override the `TARGETED_DEVICE_FAMILY` at build](https://github.com/inkling/Subliminal/blob/master/Supporting%20Files/CI/subliminal-test#L414)). If we cou

[2014-03-23 02:27] wearhere commented on #143
We should also investigate if maybe this new `instruments` can install applications on devices, which would remove our need to use the `MobileDevice` framework (#75).

[2014-03-23 04:44] MaxGabriel commented on #82
Hey @wearhere do you still want to have most of the README moved to the wiki? That'd be pretty easy for me to do.

[2014-03-23 18:33] MaxGabriel opened #144 "Can creating a new info.plist file be removed from the installation process?"
It seems like `Integration Tests-Info.plist` file that's added as part of the installation process isn't necessary to use Subliminal (if I'm wrong about this, just ignore this issue). However, a paragraph of instructions and a screenshot are devoted to making sure that it exists. The README goes on to explain how the xcconfig file specifies the path to this plist, and then another screenshot is de

[2014-03-23 23:45] wearhere commented on #143
`instruments 5.1` still cannot install applications on devices, which is a bit of a shame. (But not too much, because we would want to do a clean install of the app, and I'd doubt that `instruments` would uninstall applications.)

[2014-03-25 03:25] wearhere opened #146 "Remove the instructions about editing "Product Name" from the README."
If the user leaves it as the default setting after duplicating their main target, `<name of main target> copy`, that's a bit silly but it doesn't really matter.

When we edit the `README`, we shouldn't modify the `xcconfig` file so as not to break existing installations (though it would be nice to add a comment about the setting being maintained for historical reasons). The `xcconfig` setting won'

[2014-03-25 03:26] wearhere commented on #144
:+1: (more comments on #145).

Also filed #146 per your suggestion.

[2014-03-25 03:38] wearhere commented on #141
Sounds fine to me. I'm surprised you see that it consistently takes `instruments` a certain amount of time to launch--it varies widely between runs both here on Travis and locally using Jenkins--but ¯_(ツ)_/¯. I'd probably implement this using an environment variable rather than another argument to `subliminal-test`--it has so many already and this is kinda advanced usage.

[2014-03-25 04:23] wearhere opened #147 "Figure out why Travis builds intermittently hang."
Example: https://travis-ci.org/inkling/Subliminal/jobs/21380026#L201.

[2014-03-25 05:05] wearhere commented on #147
The first step is to discover if it's `instruments` that's hanging or `subliminal-instrument`. I'm going to put up a test build which has `subliminal-instrument` do some logging after a couple of minutes.

[2014-03-25 19:10] wearhere commented on #147
Aaaand it's `instruments`: https://travis-ci.org/inkling/Subliminal/jobs/21485194#L276. I think sometimes the simulator's just fucked on launch--if you look back through that run, there are other bizarre failures like a [web view not loading](https://travis-ci.org/inkling/Subliminal/jobs/21485194#L211).

[2014-03-25 21:42] wearhere commented on #147
Now investigating the hypothesis that the simulator is generally inconsistent when the tests will hang, and that we can detect this and possibly abort the tests on launch.

[2014-03-25 23:08] wearhere commented on #147
[Hypothesis confirmed!](https://travis-ci.org/inkling/Subliminal/builds/21545411)

[2014-03-26 05:02] #147 closed, assigned to nobody

[2014-03-26 06:04] #144 closed, assigned to nobody

[2014-03-26 21:43] wearhere opened #152 "Officially support multiple installations of Subliminal."
This means reconciling installations of Subliminal's supporting file and trace templates--it's weird to have each installation uninstall and then install the templates. At a minimum, it would be nice to not reinstall the templates if they were identical to what was already there.

To truly support multiple installations of Subliminal, we would need to figure out what to do if the files were differ

[2014-03-26 22:52] Axlle opened #153 "Always print seed at startup"
It would be helpful to always print the seed number so that the test ordering can be reproduced even when the tests fail to complete. Currently Subliminal tries to print the seed when after an error, but it may not be possible to detect all errors (exceptions, crashes, lockups, etc.)

I propose replacing "Tests are starting up..." and "Running tests in order as predetermined by seed 0123456." with

[2014-03-27 05:14] MaxGabriel commented on #82
My plan on moving to the wiki is that I'll move content over to the wiki gradually, where it's available for public review. Unfortunately, I don't think there's any PR system, so I'll just add things and let them be reviewed over time.

Based on the README, I think these are good candidates for being broken out into separate wiki pages:
- [x] [Create the Integration Tests Target page](https://gith

[2014-03-27 08:01] wearhere commented on #82
This sounds like a solid plan. The Integration Tests target page looks good so far--I'd agree that renaming the scheme would be a good candidate for discussion there too since that's also part of target setup.

I also like the idea of a section on Travis CI specifically. Travis has a couple of huge advantages (it's free and easy to set up, with really nice GitHub integration and output) and drawba

[2014-03-27 15:45] MaxGabriel opened #154 "Dragging in the xcconfig file as a reference crashes Xcode"
The README says:

However, when I don't use the copy option, Xcode crashes.

![xcconfigreference](https://cloud.githubusercontent.com/assets/1274145/2539218/fbf29d4a-b5c5-11e3-93ce-494223bc50a6.png)

Xcode version: Version 5.1 (5B130a)
OS Version: Mavericks 10.9.2

Potential workaround is to just recommend copying the file across?

[2014-03-27 16:27] ominiom commented on #154
I have the same problem. Dragging `Integration Tests.xcconfig` directly from the Finder into the Project Navigator worked for me.

[2014-03-27 16:31] MaxGabriel commented on #154
@ominiom That workaround works for me too; good find.

[2014-03-27 20:01] wearhere commented on #154
This appears to be a bug newly introduced in Xcode 5.1. Thanks @MaxGabriel and @ominiom, I've amended the README to incorporate @ominiom's workaround.

[2014-03-27 20:02] #154 closed, assigned to nobody

[2014-03-27 23:13] aaronpang opened #157 "Subliminal does not expose `UIAElement.setValue` despite `-[SLKeyboard typeString:]` warning"
EDIT: Rewritten to make the below less Inkling-specific and to reference existing bugs. -- @wearhere

UIAutomation can't type "tap-hold" characters such as "’" (curly quote) (#91).
When asked to type such characters, Subliminal detects UIAutomation's failure and falls back upon setting text fields/views' values directly (#95). Because this behavior may be confusing from the standpoint of a user wa

[2014-03-28 03:08] MaxGabriel commented on #146
#145 implements this, so this can be closed

[2014-03-28 03:26] wearhere commented on #146
Ah yes, thanks.

[2014-03-28 03:26] #146 closed, assigned to nobody

[2014-03-28 06:01] MaxGabriel commented on #82
More pages are up for review. The [Add Test Running Code to the Target](https://github.com/inkling/Subliminal/wiki/Add-Test-Running-Code-to-the-Target) added a step on loading Instruments and choosing the Subliminal template, which I thought out of place in its current location (pretty far down in the README, even after topics like CI and comparisons to other frameworks.

[Writing Tests](https://g

[2014-03-29 04:16] MaxGabriel commented on #82
@wearhere Can the [README part on enabling GUI scripting](https://github.com/inkling/Subliminal#continuous-integration) be dropped for CI be dropped? I notice that on the Subliminal Travis builds that there's an error about it not being enabled, but the tests run fine. https://travis-ci.org/inkling/Subliminal/jobs/21650554

[2014-03-29 19:22] wearhere commented on #82
These new pages look good @MaxGabriel.

I definitely agree with

A page like "The Structure of a Test", to which "In the body of those tests, you do some work and then make some assertions" in [Writing Tests](https://github.com/inkling/Subliminal/wiki/Writing-Tests) could link, might be useful. More examples and screencasts might help too.

The success of #158 appears to confirm that Travis _is_ p

[2014-03-30 04:39] MaxGabriel commented on #82
Ok @wearhere ready for final review I think.

[2014-03-30 07:48] wearhere commented on #82
The wiki looks great @MaxGabriel. There's a lot of info there but it's well-organized. I like that every step in installation is just a couple of lines. It's also pretty clear to me where Cocoapods instructions will go, just as an alternative second install step.

I've gone through and made some minor edits for clarity. The only major change was to remove the discussion about the Travis login pass

[2014-03-30 07:49] wearhere commented on #82
Btw I may have limited internet access for the next couple of days but I'll try to make comments as able.

[2014-03-30 09:16] wearhere opened #163 "Add documentation about test structure."
The [current documentation](https://github.com/inkling/Subliminal/wiki/Writing-Tests) does a pretty decent job of describing what test _cases_ can do: use `SLElements` to manipulate the UI; use app hooks to manipulate the app.

What we're lacking is guidance as to how _tests_ can and maybe ought to be structured, things like:
- Elements used by multiple cases can be test ivars.
- Don't put tear-do

[2014-03-30 21:35] MaxGabriel opened #164 "dispatch_get_current_queue is deprecated in iOS 6"
If you set the deployment target of the Subliminal Project to 6.0+ and then try to build the Subliminal library, there are many deprecation notices for `dispatch_get_current_queue` being deprecated. Based on a quick look, it looks like Subliminal mostly uses that function for the pattern 'if I am not on that queue, dispatch sync to that queue, otherwise just execute normally'.

I think the propose

[2014-03-31 05:31] wearhere commented on #164
Nice find! I had previously seen the warning, done some searches, and found only [answers](http://stackoverflow.com/questions/13237417/alternatives-to-dispatch-get-current-queue-for-completion-blocks-in-ios-6) where people were like "why were you using `dispatch_get_current_queue` to begin with." >.< (See also the first page of that dev forum discussion, sheesh.)

It'd be good to pick this up some

[2014-03-31 06:04] MaxGabriel commented on #164
Yeah jeez Jeff what were you thinking using such a dangerous API like `dispatch_get_current_queue`

[2014-03-31 06:06] MaxGabriel commented on #164
Your explanation for not using the selector makes sense; I'll stick to the `x = &x` style.

This doesn't seem like too complex a PR so I'll probably do it.

[2014-03-31 06:13] wearhere opened #166 "Add contributing guidelines to Subliminal."
To include:
- How to get started (e.g. fork the repo, install Subliminal as a developer)
- What tests (unit, integration) are necessary for changes
- How to run the tests

A WIP is on [`jeff/update_docs`](https://github.com/inkling/Subliminal/commit/80392e06a607170c10973fbf3dbf05a57c8257cf) though it's out of date with regard to Subliminal's installation process and some of the links are broken.

[2014-03-31 06:14] wearhere commented on #82
The README is now so fresh, so clean thanks to @MaxGabriel. Moving the discussion around contributing guidelines to its own issue: #166.

[2014-03-31 06:24] MaxGabriel commented on #82
Thanks @wearhere

[2014-03-31 06:31] wearhere opened #167 "Add a CHANGELOG."
As we're about to mark 1.1, time to start actually tracking our changes. 1.1's going to be a bit of a doozy to start out--we shouldn't overwhelm the reader, yet convey a sense of how much we've added/fixed since 1.0.1, if possible.

[2014-03-31 06:39] #29 closed, assigned to wearhere

[2014-03-31 06:48] #82 closed, assigned to nobody

[2014-03-31 06:56] wearhere commented on #143
I'm tagging this 1.1 because it would be super nice to launch to a bunch of new people with no SDK manipulation and maybe even no login password requirement (i.e. if we can confirm pre-authorization works). Discussion on https://github.com/travis-ci/travis-ci/issues/2051 seems to suggest that Travis will support 5.1 before we would be launching 1.1 anyway.

[2014-03-31 06:58] wearhere commented on #164
1.1 so that the users don't see warnings when they install Subliminal.

[2014-04-01 04:23] wearhere commented on #164
Closed by #168.

[2014-04-01 04:23] #164 closed, assigned to nobody

[2014-04-01 15:10] MaxGabriel opened #169 "Erroneous incompatible pointer types warning when installing w/ Cocoapods"
When installing with Cocoapods I get this warning in two places (`SLTestController` and `SLTerminal`):

SLTestController.m:254:15:

Incompatible pointer types initializing 'NSString *__strong' with an expression of type 'CGPathRef' (aka 'const struct CGPath *')

which is caused by the following code:

[code]

(The compiler is thinking that the `path` selector is the one from `CAKeyFrameAnimation`,

[2014-04-01 18:10] wearhere commented on #169
That solution sounds fine. I'm also surprised it doesn't warn all the time since this is a [general problem](http://stackoverflow.com/questions/1997482/cant-figure-out-warning-incompatible-objective-c-types) with Objective-C. Does Cocoapods change the project's warnings?

[2014-04-01 18:21] MaxGabriel commented on #169
I mean, it isn't using Subliminal's Xcodeproj files so it does have its own settings for warnings, but I can't figure out which setting is causing this even when going through and turning them off 1 at a time.

[2014-04-01 18:47] wearhere commented on #169
No worries. We can revisit later if manual/Cocoapods installations diverge further.

[2014-04-01 19:14] #169 closed, assigned to nobody

[2014-04-05 03:46] MaxGabriel commented on #167
Hey Jeff, do you think this is something I'd be able to do? I think I'd just need to know what format to use (I kind of like [Cocoapods'](https://github.com/CocoaPods/CocoaPods/blob/master/CHANGELOG.md) myself) and a rough idea of how detailed you want to be for the 1.1 release.

[2014-04-06 02:03] wearhere commented on #167
You're very much welcome to take it on, thanks! I think following Cocoapods' model is a great idea--there's a lot of nice touches to that like the installation link at top; the compare links; and certainly crediting the contributors responsible.

Re: detail I think I'd like to describe all the enhancements, and major bug fixes (think "holy shit I can't believe that was broken to begin with" haha,

[2014-04-06 02:05] wearhere commented on #143
The README will need to be updated to reflect the requirement of Xcode 5.1 when this goes in. The README should also note that it _is_ still possible to support iOS 5.1 using Xcode 5.1, if you run Mountain Lion and [manually install the iOS 5.1 simulator](http://stackoverflow.com/a/22494536/495611).

[2014-04-06 05:18] MaxGabriel commented on #167
Working document of what git commits to be included in 1.1: https://gist.github.com/MaxGabriel/10001735

(You probably don't want to read this btw—the formatting makes it almost impossible to read and its probably better to wait for the finished changelog and then add stuff from that point).

#### General methodology:

##### Document in the 1.1 changelog:
- Public API additions
  - New SLElement s

[2014-04-06 18:34] wearhere commented on #143
I've got a local branch using the `-w` flag--just need [travis-ci/travis-ci#2501](https://github.com/travis-ci/travis-ci/issues/2051) to be resolved before I can put it up.

Also, I can confirm that the old (pre-Mavericks) method of pre-authorizing `instruments` from travis-ci/travis-ci#1292 works. If the later technique in that thread or something similar works for Mavericks, then we can remove t

[2014-04-06 18:59] MaxGabriel commented on #143
Nice @wearhere!

[2014-04-08 23:10] wearhere opened #176 "Remove the `--live` and `-login_password` options to `subliminal-test`."
This is a follow-up to #143. That issue entails the deprecation of the aforementioned options, as with `instruments` 5.1 and the revelation of the "pre-authorization" techniques described in https://github.com/travis-ci/travis-ci/issues/1292, `subliminal-test` no longer requires the user's login password.

Those options were only deprecated in the 1.1 timeframe to give developers time to adopt pre

[2014-04-08 23:11] wearhere commented on #143
Ok I've made the change locally to completely deprecate the `--live` and `-login_password` options. When https://github.com/travis-ci/travis-ci/issues/2051 is resolved, I'll put a pull request up for this and also update [the wiki](https://github.com/inkling/Subliminal/wiki/Continuous-Integration) to describe how instruments may be "pre-authorized" as described on https://github.com/travis-ci/trav

[2014-04-10 18:20] b-levinger opened #178 "UICollectionViewCell filtered out of Accessibility Element Path"
I ran into an issue with trying to click a button that is a child of a UICollectionViewCell,  when the SLAccessibilityPath builds up it's path filterRawAccessibilityElementPath skips over the cell in the hierarchy which causes the button to never become tappable.

I fixed it with a quick hack by adding:

if ([self isKindOfClass:[UICollectionViewCell class]]) {
        return YES;
}

in NSObject+SL

[2014-04-10 18:31] jzucker2 commented on #178
Actually, there's more involved than you think. UIAutomation creates mock accessibility containers for table view cells and collection view cells. You CANNOT tap a table view cell, even when you think you are, you are actually tapping a UITableViewCellAccessibilityElement. I have a pull request that addresses this:
https://github.com/inkling/Subliminal/pull/171

[2014-04-10 18:35] b-levinger commented on #178
I'm not trying to tap the cell, there's a UIButton inside the cell that I'm trying to tap.  When the cell is filtered out of the hierarchy the UIButton never becomes tappable,  with the hack above it works.

[2014-04-10 18:46] jzucker2 commented on #178
Yes, but along the lines of what I was explaining, you never tap a UIButton, you're actually tapping a UIAccessibilityMockView with the same traits as your button. But -- awesome that hack works, nice catch.

[2014-04-11 04:08] wearhere commented on #178
You're actually both right. :) As @jzucker2 suggests, what we ultimately need to do is get UIAutomation to manipulate the mock views corresponding to the cell and its contents. We can't reference such mock views directly, though, because their classes are private--so we collect the real views instead. I think it would be more appropriate to amend `-classForcesPresenceOfMockingViewsInAccessibilityH

[2014-04-11 06:18] wearhere commented on #178
@jzucker2 you may be amused to know that the mock views only appear in iOS 7--in 6, the cells themselves are accessible; and even in 7, there's only a mock view for the cell itself, not its contents--the mock cell vends the actual subviews of the cell as its accessibility children. :stuck_out_tongue_closed_eyes:

[2014-04-16 00:43] MaxGabriel commented on #166
Hey Jeff, do you think I could work on this? I'm pretty sure you'd have to take over to fill in alot of  details, but I could fill in the broad strokes from your WIP. This is just the last ticket needed for 1.1 and Travis CI claims to be updating this week, so I could do something basic for 1.1 if you wanted.

[2014-04-16 22:31] MaxGabriel commented on #143
[Travis CI is now running Mavericks](http://blog.travis-ci.com/2014-04-15-xcode-51-ios-71-osx-109/)

[2014-04-17 07:10] wearhere commented on #143
Thanks Max! Testing now.

[2014-04-17 11:31] wearhere commented on #166
Hey thanks @MaxGabriel. Yes, you drafting the guidelines would help me focus on getting the other PRs merged--and it would definitely be good to have a contributor's POV too.

In addition to the broad points above, I've made some comments on the WIP commit pointing out areas to update. Feel free to put up revisions for comment as you go.

[2014-04-17 11:41] wearhere commented on #166
The points above are all about "making changes"--but a link to the guidelines will appear whenever someone goes to open an issue too (as shown [here](https://github.com/blog/1184-contributing-guidelines)), so it would also be useful to have a "filing issues" section to describe how to write up a good bug report etc.

Eventually, that is--I don't think it's strictly necessary for 1.1 (I'd rather ha

[2014-04-19 00:02] #143 closed, assigned to wearhere

[2014-04-19 00:36] wearhere opened #184 "Add guidelines for feature requests to documentation"
This might take a couple of forms:

**Positive guidelines** (this kind of request _is_ likely to be approved). It might be easier (better?) to define broad philosophical guidelines for the direction of the framework, than specific traits of successful PRs. Note that essential characteristics of PRs (tests & documentation) are already called out in the contributing guidelines.

**Negative guideline

[2014-04-20 19:49] #166 closed, assigned to wearhere

[2014-04-20 20:44] MaxGabriel opened #185 "Subliminal's API docs are out of date"
Subliminal's [API docs](http://inkling.github.io/Subliminal/Documentation/) are pretty out of date. Notably, the old README is still there, so you have to scroll down a bunch to even see the links to the API doc pages. There are some missing things like the `SLKeyboard` protocol as well.

I think this should be pretty easy—just build Subliminal's documentation target and copy the output to the gh-

[2014-04-22 02:02] #178 closed, assigned to nobody

[2014-04-23 08:31] wearhere opened #187 "Subliminal's internal assertions are disabled in Cocoapods installs."
Due to the combination of https://github.com/CocoaPods/Xcodeproj/pull/53 and Profile build phases defaulting to the Release build configuration, Subliminal's internal assertions will be disabled by default. Searching for `NSAssert` in the project, it looks like most assertions are designed to verify our internal functionality or assumptions about UIAutomation, but there are some--like [this](https

[2014-04-23 09:08] wearhere commented on #185
Updated docs, ready to be uploaded for 1.1, are [here](https://github.com/inkling/Subliminal/pull/188).

Appledoc installs the docset by default (unless the `--no-install-docset` flag is specified), but docset and HTML generation aren't mutually exclusive. To keep the HTML, pass `--keep-intermediate-files`. The files will be dumped in `"${PROJECT_DIR}/Documentation/html"`.

Another modification to

[2014-04-23 14:27] MaxGabriel commented on #185
I like your idea of not using the README for the index file; good idea. Thanks for the help with appledoc

[2014-04-23 15:38] MaxGabriel commented on #187
Hm, so far I've been unsuccessful at coming up with a workaround at the Podspec level. Trying to set the macro back to 0 led to a bunch of warnings about redefining a macro. I also tried `UNDEF`ing it in the PCH file, but that didn't work (I felt like that should work so I must be misunderstanding something here...). If such a workaround existed, it would just apply to the Integration Tests target

[2014-04-24 21:06] jzucker2 opened #189 "Subliminal has no convenient way to handle accessibility child or parent elements"
Subliminal can't easily interact with child elements inside a UITableViewCell (not if the element is the same name in each cell). This is pretty frustrating for apps heavy with table views. This also applies to navigation bars, collection view cells, and other similar accessibility containers.

[2014-04-30 04:35] wearhere opened #192 "subliminal-instrument logs "Testing finished: executed 0 tests" if only one test was run."
![screen shot 2014-04-29 at 5 51 57 pm](https://cloud.githubusercontent.com/assets/110000/2837703/cdd4e04c-d020-11e3-9f85-6cfd8e3de110.png)

[2014-04-30 05:53] #192 closed, assigned to nobody

[2014-04-30 11:18] wearhere opened #195 "Consider using Cocoadocs to generate/host docs."
#### Pros
- Cocoadocs renders the index for us. [Doing this ourselves](https://github.com/inkling/Subliminal/commit/2a90290859a81b2f3938955bc4d01f33a4ef1a9a) is a tremendous pain.
  - _Counterargument_: it was a huge pain but now it's done.
- Cocoadocs hosts older versions of the documentation.
  - _Counterargument_: installing old versions of the docs _locally_ works (with an old version of Subli

[2014-04-30 11:30] wearhere commented on #185
I've finished fixing up the docs for 1.1 (and added a Rake task to make this a lot easier in the future) at #194. I decided to use the README after all to make the index a complete intro to Subliminal and for consistency with other projects i.e. on Cocoadocs, especially once I figured out how to prettify it like Cocoadocs does.

 I've uploaded the 1.1 `xar` (generated using that PR) branch already

[2014-05-01 01:47] wearhere commented on #185
The docs have been updated for 1.1.

[2014-05-01 01:47] #185 closed, assigned to nobody

[2014-05-01 02:08] MaxGabriel commented on #167
This can be closed—forgot to include this issue in the [Changelog PR commit messages](https://github.com/inkling/Subliminal/pull/183/commits) to close this one.

[2014-05-01 02:09] wearhere commented on #167
Oh yeah, thanks.

[2014-05-01 02:09] #167 closed, assigned to wearhere

[2014-05-01 05:17] MaxGabriel commented on #195
So I'm a little unclear on if Cocoadocs is supposed to be generating docs for Subliminal right now. Their [README](https://github.com/CocoaPods/cocoadocs.org) says you can use the `documentation_url` attribute, but they generate documentation for libraries that use that anyway.

Edit: The README is now working on the [Cocoadocs version](http://cocoadocs.org/docsets/Subliminal/) of Subliminal's doc

[2014-05-02 06:34] wearhere commented on #137
Hey @pablolvillar I lost the thread of this--did you ever get this to work? Xcode 5.1 might have improved things somewhat. Sorry to hear you were having such troubles.

[2014-05-02 07:18] wearhere commented on #187
Closed by advising users to set the configuration to Debug [during install](https://github.com/inkling/Subliminal/wiki/Create-the-Integration-Tests-Target#cleanup).

[2014-05-02 07:18] #187 closed, assigned to nobody

[2014-05-02 07:18] wearhere commented on #187
p.s. thanks for investigating the workarounds @MaxGabriel.

[2014-05-02 08:06] wearhere opened #197 "Add Gitter "office hours" to our Contact info."
[Gitter](https://gitter.im) (https://gitter.im/inkling/Subliminal) looks like an awesome way to host a Subliminal chat room. It'd be nice to hang out in there for an hour or two once or twice a week so people can pop in and ask questions.

[2014-05-02 20:44] #197 closed, assigned to nobody

[2014-05-26 23:36] MaxGabriel commented on #195
Cocoadocs [announced a new design/some new features today](http://blog.cocoapods.org/CocoaDocs2-Launch/). Here's how Subliminal's docs would look in the new design, assuming default configuration: http://maxgabriel.github.io/SubliminalDocs/

[2014-05-28 01:21] wearhere commented on #195
I agree it's curious that Cocoadocs is generating docs for Subliminal despite our use of the `documentation_url` attribute. If they do generate documentation that's kinda the best of both worlds, because then the docset is discoverable through Dash.

Nevertheless, I'm leaning toward adopting Cocoadocs--so that there's one true source of documentation; to simplify Subliminal's installation and buil

[2014-06-03 18:35] justinseanmartin opened #201 "SLTextField isn't tappable"
I was debugging an issue yesterday and I believe it is the same as described here:

http://stackoverflow.com/questions/23838808/how-can-i-make-an-sltextfield-tappable

I debugged it for a while, did some playing around with the UIAutomation JavaScript being generated, and found a patch that fixed the issue.  The accessibility hierarchy being generated was:

UIWindow -> STTableView (our subclass) -

[2014-06-04 20:14] justinseanmartin commented on #201
I've opened a PR with a corresponding integration test case: https://github.com/inkling/Subliminal/pull/202

[2014-06-06 21:45] wearhere opened #206 "Expand documentation on matching elements."
Covering:
- where do accessibility properties come from?
- which accessibility properties are best to use?
- how can I match elements whose labels I don't know till runtime? (i.e. to assert they exist)

Some of this information is already covered in the documentation of `SLElement`'s constructors, but could still be pulled out into an overview on the wiki. See [this comment](https://github.com/ink

[2014-06-10 22:55] wearhere opened #207 "Enable testing of pre-built binaries."
To support testing release candidates, where the candidate binary would be built before testing and then submitted without re-building if the tests passed.
#### Implementation notes

A new `APP` argument should be added to `subliminal-test`. `subliminal-test` should require one of `PROJECT`, `WORKSPACE`, or `APP` be specified. The documentation should say that `SIM_DEVICE` or `HW_ID` should be pro

[2014-06-11 01:01] MaxGabriel commented on #206
Working on this.

Some other things that probably are worth calling out:
- Matching children views of particular view, when #190 is merged
- Unusual matching cases, like:
  - Matching UISegmentedControls or UISteppers (answer: match their individual buttons, with an explanation of how to set accessibility properties for those controls)
  - Matching elements in a webview (answer: use alt text)
- [R

[2014-06-11 01:03] wearhere commented on #206
:thumbsup:!

[2014-06-11 01:20] wearhere opened #208 "Add `SLTableView`."
This class would vend an array of cell elements, so that clients could check e.g. that the _first_ cell in the table view had label "foo" rather than merely checking that there was a cell called "foo".

[2014-06-11 01:26] wearhere commented on #201
Did #202 resolve this @justinseanmartin?

[2014-06-11 02:00] justinseanmartin commented on #201
Yes, this issue is now fixed in master.

[2014-06-11 02:00] #201 closed, assigned to nobody

[2014-06-11 02:08] wearhere commented on #201
:thumbsup:

[2014-06-12 17:02] ghost opened #210 "TextField under ScrollView/TableView/TableCell not tappable"
Below is a hierarchy of elements that I've been trying to find but couldn't get it to work. To add more detail, the element seems to be "seen" by the isValidorVisible method; however is not "tappable" and gives the consequent failure.

[code]

I've also created a sample application here: https://github.com/mrsamuelkim/Subliminal/tree/master/Simple%20App

Help would be appreciated! Thanks.

[2014-06-12 17:33] justinseanmartin commented on #210
Please move the test under https://github.com/mrsamuelkim/Subliminal/tree/master/Integration%20Tests/Tests.

It should be able to be run by launching the "Subliminal Integration Tests" target for Subliminal.xcodeproj. Prefix the test function with "focus_" to have only that one be run.

[2014-06-12 17:44] ghost commented on #210
Test has been moved to ../Tests/

[2014-06-12 20:59] justinseanmartin commented on #210
You need to add a reference for xLoginTests.m in the xcodeproj file. Please verify that you can run the Integration Test target of Subliminal.xcodeproj to verify that your test is runnable. See SLButtonTest for a simple example.

[2014-06-12 22:25] ghost commented on #210
I've realized I'm having this problem only when the app is built using .storybaord. I don't see an easy way to integrate my project into Subliminal.xcodeproj.

[2014-06-12 23:18] wearhere commented on #210
You actually don't need to add the test to Subliminal itself--putting up a sample project that uses Subliminal, and adding the test to the sample project's Integration Tests target, works just fine. :) Thanks for putting the sample up!

To get the project's tests running, it looks like you have to add "TPKeyboardAvoiding" as a pod: https://github.com/mrsamuelkim/Subliminal/pull/1. But I can repro

[2014-06-12 23:32] ghost commented on #210
@wearhere, thank you! @justinseanmartin, too.

We have two controller views currently in one screen. One main screen and another on top segued by a container. I believe that is making some complications to the hierarchy--idk, frankly.

[2014-06-12 23:34] wearhere commented on #210
Ok,I'm pretty sure that #202 did fix this issue. The reason you don't see the fix is because the sample project uses Subliminal 1.1, which doesn't have the fix.

If you make this change:

[code]

And run `pod install`, then the sample project's tests will pass. Can you confirm in your real app too @mrsamuelkim? To make sure there's not any other complications.

[2014-06-13 22:11] ghost commented on #210
Awesome. Verified. updating the Podfile fixed the problem. Thanks a lot @wearhere and @justinseanmartin!

[2014-06-13 22:12] #210 closed, assigned to nobody

[2014-06-16 01:11] wearhere opened #212 "`-[SLElement isVisible]` reports elements in non-key windows as not visible."
For instance, picker views that are input views: https://github.com/inkling/Subliminal/pull/211/files#diff-c961c449e151dca76856c2af83d814a6R33.

The first problem is that `-[UIView slAccessibilityIsVisible]` only renders the key window: https://github.com/inkling/Subliminal/blob/master/Sources/Classes/Internal/NSObject+SLVisibility.m#L279. That line should be changed to `UIWindow *window = self.wi

[2014-06-16 19:46] wearhere commented on #212
This should wait until #211 goes in because until then, there's no way to match elements in other windows.

[2014-06-17 02:32] wearhere opened #214 "UIAutomation reports picker views as not tappable on iOS 6."
`SLPickerView` (#211) passes `NO` for _waitUntilTappable_ and on iOS 6 overrides `-isTappable` to return `isVisible`, but we should patch into the existing `canDetermineTappability` system (c31effbbd3236696c02e72f9d780a8e38a1d5d79).

Or, we could check the tappability of the picker's first wheel (`wheels()[0]`), which is reported as tappable on iOS 6.

[2014-06-20 22:27] #212 closed, assigned to nobody

[2014-06-21 08:47] justinseanmartin opened #219 "Try to prevent app crashes from running Subliminal test cases"
Subliminal should try its best to not crash in the middle of a test run, regardless of if it is caused by a test writer or the test framework itself.

Ideally, Subliminal and the app's integration test code would have no bugs and so only expected asserts would fire. However, if there are random failures in the framework that lead to exceptions being thrown, we'd be better off handling them and att

[2014-06-21 09:41] wearhere commented on #219
I like the idea of a `sl_dispatch_sync_to_main_queue` a lot. I feel like we've had at least one Stack Overflow question and/or GitHub issue that's like "why do the tests just abort?" and I haven't made the connection until now.

I think that such a wrapper should catch all manner of exceptions. IMO an assertion doesn't necessarily mean "abort the app" but rather "halt this line of execution". (If

[2014-06-21 20:43] #207 closed, assigned to nobody

[2014-06-24 21:18] wearhere opened #221 "Support Swift tests"
This bug tracks necessary changes to support tests written in Swift. It does _not_ cover migrating Subliminal itself to Swift.

To-do:
- [ ] Code changes
  - [ ] re-implement the `UIAElement` macro as a function
  - [ ] re-implement the `SLTest` assertions as functions
- [ ] Documentation changes
  - [ ] Provide Swift file templates (probably as language options for the current templates, like how

[2014-06-24 21:21] wearhere commented on #221
This is blocked until Apple fixes UIAutomation in Xcode 6: [rdar://16813256](http://openradar.appspot.com/radar?id=6099734162833408).

[2014-06-25 19:50] KrauseFx opened #223 "New selectors"
Is there a reason why these selectors are not built in?

[code]

Basically I implemented them like this:

[code]

Am I missing something?

[2014-06-25 19:50] KrauseFx commented on #223
I guess I shouldn't be using the value or the hint to find elements.. is that the reason?

[2014-06-25 19:59] KrauseFx opened #224 "Warning when overwriting -setUp instead of -setUpTest"
Since you're doing a lot of swizzling right now, it wouldn't be much extra work.

When I create a new test with Xcode, it automatically uses the default template and creates -setUp method. (Also I'm used to using - setUp)

It would be great, if there would be a compiler warning (or error) shown when setUpTest is not implemented, but setUp is.

[2014-06-25 20:32] wearhere commented on #224
Hm, are you using this template to create a new test?

![screen shot 2014-06-25 at 1 24 33 pm](https://cloud.githubusercontent.com/assets/110000/3391113/dfc0a310-fca6-11e3-8440-b369d457109c.png)

It sounds like you might be using Xcode's regular unit test template. Subliminal's should stub out `-setUpTest` for you.

The reason we use "setUpTest", by the way, is that our method behaves differently

[2014-06-25 20:34] wearhere commented on #224
(Also: do you think that information is sufficient, or do you think it would still be worth checking for `-setUp` being implemented?)

[2014-06-25 20:52] wearhere commented on #223
Subliminal just gives convenience wrappers for the most common selectors, which from my understanding of Apple's docs [here](https://developer.apple.com/library/ios/documentation/userexperience/conceptual/iPhoneAccessibility/Making_Application_Accessible/Making_Application_Accessible.html) (and also from looking at the attributes of standard UIKit controls) are labels, values, and traits.

`SLElem

[2014-06-25 21:05] KrauseFx commented on #223
Thanks for the hint with the label.
It's your choice if you want those additional convenience methods in the library. I use them in a category right now.

I think you're right, every element should be accessible using the label.

I'm setting the hint to the english version of the label always. So I can run the tests in different languages well and still provide a valid and helpful accessibilityLab

[2014-06-25 21:13] wearhere commented on #223
Do you set the hint to the english version of the label even in production? That might be a bit confusing for your users. I think it might be a bit more appropriate to use the `accessibilityIdentifier` for such "debug" information--that's not shown to users. And then you could use `+[SLElement elementWithAccessibilityIdentifier:]`.

I don't feel a need to add those convenience constructors to `SLE

[2014-06-25 21:13] #223 closed, assigned to nobody

[2014-06-25 21:17] KrauseFx commented on #223
No, those values are only set in Debug mode. I need the real language for the screenshots but english only for finding and accessing the elements.

:+1:

[2014-06-25 21:20] KrauseFx commented on #224
I wasn't using this template for my previous tests but didn't notice it's not the same method right at the beginning.

My suggestion is to display a compiler warning, when only the wrong method is implemented. It's a nice to have, since as you mentioned, this behaviour is documented. Just something I spent a little time until I figured it out

[2014-06-25 21:24] justinseanmartin opened #225 "Report crashes encountered during CI runs as part of the test result"
It would be great if we could report crashes that happen during CI runs as part of the automation results.

For Simulator:
App crashes will be generated within  ~/Library/Logs/DiagnosticReports/.  Also, the output from "~/Library/Logs/iOS Simulator/<sdk version>/system.log" (7.x) or "/var/log/system.log" (6.x) sometimes contains a more interesting stack trace after symbolicating. It generally come

[2014-06-30 19:04] wearhere commented on #224
Showing a warning wouldn't be too difficult, but I can't think of how we might easily let the user _disable_ that warning--to let them implement `-setUp` if they wanted, even without implementing `-setUpTest`. Altogether, I think I'd rather stick with the cues we have: the template and documentation. Thanks for the suggestion, though!

[2014-06-30 19:04] #224 closed, assigned to nobody

[2014-07-08 07:32] wearhere commented on #137
Hi @pablolvillar I'm going to close this just to keep the project's issues a bit cleaner, but please do comment here or reach out in [our chat room](https://gitter.im/inkling/Subliminal) if you're willing and able to provide any additional information. Once again I'm sorry to hear that you weren't able to get off to a good start with the framework.

[2014-07-08 07:32] #137 closed, assigned to nobody

[2014-07-17 21:54] wearhere opened #234 "Focus should not be platform-dependent."
Currently, a test can only be focused if it supports the current platform. If the user attempts to focus the test and it does not support the current platform, the focus will be ignored and all tests will run as usual.

It would be easier to reason about what focus really means--trying to run one test, at the exclusion of all other tests--if focusing a test focused it, period. If the test doesn't

[2014-07-17 21:55] wearhere commented on #234
This should be fixed after #233 goes in so that the fix can encompass platform _and_ environment support.

[2014-07-23 21:14] wearhere opened #236 ""SLWaitUntilTrue" can be confused with "SLAssertTrueWithTimeout"."
As reported by @lisbakke in Gitter:

Perhaps we should rename it to `SLIsTrueWithTimeout`?

[2014-07-23 21:25] wearhere opened #237 "Sometimes stale UITableView accessibility elements are matched after a table refresh."
Reported by @lisbakke in Gitter:

and

Possibly related: in the past we've seen an issue where table views do not refresh their accessibility information after a reload. We put in a workaround [here](https://github.com/inkling/Subliminal/blob/master/Sources/Classes/UIAutomation/User%20Interface%20Elements/NSObject+SLAccessibilityHierarchy.m#L97) (see also 5a712ac4b2ea).

[2014-07-23 21:33] wearhere commented on #237
@lisbakke, a couple of follow-up questions:
1. It sounds like the old names work after a refresh, in the sense that if the first cell in the table was named "cell a1" before a refresh and "cell a2" afterward, you could tap on the first cell after the refresh by trying to tap "cell a1". Is that right?
2. When you say "the new cells have the same names as old ones", do you mean that you actually cou

[2014-07-23 21:46] wearhere opened #238 "`SLElement` should reject ambiguous matches."
If multiple matches can be found for a given predicate, `SLElement` should log a warning and consider a match not to be found.

Open questions:
- should rejecting ambiguous matches be optional? I'm leaning toward yes, because I guess there could be circumstances where you wanted to match one of a set of elements and didn't care which one.
- if rejecting ambiguous matches is optional, what's the de

[2014-07-23 21:48] wearhere opened #239 "`SLElement` should return an array of candidate matches if matches are ambiguous."
This is an alternative to #238 suggested by @lisbakke that I'm filing for reference.

[2014-07-23 21:55] wearhere commented on #239
I don't like this alternative for two reasons:
1. The matches would have to be examined by the client, I guess using `-examineMatchingObject:`, and that would be a bit cumbersome vs. just putting the matching criteria into `SLElement`' predicate.
2. There is currently no mechanism for returning one (or more) elements to a test _and then_ manipulating the match--`SLElement` finds a match only in th

[2014-07-23 21:55] #239 closed, assigned to nobody

[2014-07-23 22:52] lisbakke commented on #236
Personally, I think that is a good proposed name.

[2014-07-23 23:00] lisbakke commented on #237
1. I _believe_ that you could try to tap "cell a1" afterwards, but it would fail. What we were doing is calling cell 1 "cell a1" then upon refresh, calling the New cell 1"cell a1". When we went to try to get "cell a1" it would visibly be there, but _sometimes_ the test would fail and sometimes it would succeed. I did not, at the time, log the accessibility hierarchy, so I can't confirm if there wa

[2014-07-23 23:07] lisbakke commented on #238
How significant of a performance hit is it?

Have you guys considered a 'debug' mode for tests?

[[SLTestController sharedTestController] runTests:[SLTest allTests] withCompletionBlock:nil withDebugMode:YES];

There's other things I would find useful in debugmode, as well. Sometimes it can be hard by looking at the instruments output to figure out which line of code ran before a failure. Even thou

[2014-07-24 03:29] wearhere opened #241 "Add `SLIsTrueWithTimeout` and deprecate `SLWaitUntilTrue`."
To resolve confusion between `SLWaitUntilTrue` and `SLAssertTrueWithTimeout` (#236), `SLWaitUntilTrue` should be renamed to `SLIsTrueWithTimeout`. This will be done in two steps.

First, in the 1.2 timeframe, `SLWaitUntilTrue` should be deprecated by duplicating it as `SLIsTrueWithTimeout`, switching Subliminal to use it internally rather than `SLWaitUntilTrue`, and causing `SLWaitUntilTrue` to lo

[2014-07-24 03:31] wearhere opened #242 "Remove `SLWaitUntilTrue`."
In the 2.0 timeframe, replaced by `SLIsTrueWithTimeout`.

`SLWaitUntilTrue` will have been deprecated in the 1.2 timeframe: #241.

[2014-07-24 03:31] wearhere commented on #236
Ok cool. Replacing this with two actionable issues: #241 and #242.

[2014-07-24 03:31] #236 closed, assigned to nobody

[2014-07-24 03:43] wearhere opened #244 "Fix up Subliminal's documentation for the 1.2 release."
I've got a list of small tweaks to make elsewhere, not worth pasting here 'cause it's just shorthand notes.

[2014-07-24 04:01] wearhere opened #245 "Remove support for 5.1 and 6.1."
To be tackled at the very end of the 2.0 release cycle in case we need/want to roll another 1.x release.

[2014-07-24 04:40] wearhere commented on #195
Ok, I think that we should do this. Appledoc appears likely to fall behind https://github.com/realm/jazzy sooner rather than later, considering it [stopped compiling in Xcode 5.1](https://github.com/tomaz/appledoc/issues/453#issuecomment-42426540), [doesn't support Swift](https://github.com/tomaz/appledoc/issues/460), and [its documentation](http://gentlebytes.com/appledoc/) is still down; and the

[2014-07-24 04:45] wearhere commented on #71
This is worth doing for 2.0, but only so that we're "completely" documented before switching to Cocoadocs (#195)--and if this turns out to be a huge pain (considering that [Appledoc's documentation](http://gentlebytes.com/appledoc/) _still_ isn't back up), we should let this go.

[2014-07-24 04:49] wearhere commented on #242
This should be tackled at the very end of the 2.0 release cycle in case we need/want to roll another 1.x release.

[2014-07-24 04:49] wearhere commented on #176
This should be tackled at the very end of the 2.0 release cycle in case we need/want to roll another 1.x release.

[2014-07-24 18:26] ghost opened #246 "Add support for identifying alerts by message."
`SLAlert` currently only matches alerts by title, but alerts don't actually have to have titles. Therefore it would be nice to add support for matching alerts by text (the "message" provided to `-[UIAlertView initWithTitle:message:delegate:cancelButtonTitle:otherButtonTitles:]`).

This would involve adding an `+alertWithMessage:` constructor to `SLAlert`, and modifying `-[SLAlert isEqualToUIAAlert

[2014-07-24 21:08] wearhere commented on #246
Thanks @mrsamuelkim! I've made the description a bit more specific. I agree this would be a good addition to the framework.

[2014-07-24 22:25] ghost commented on #246
I was able to fix this issue by making a temporary edits to `-isEqualToUIAAlertPredicate` so it points to the message instead of the `alert.name()`. For me, it was `alert.scrollViews()[0].staticTexts()[1].value()`.

@wearhere, would you prefer to check title first and if it wasn't initialized then go to the message? or would you want to separate the methods?

[2014-07-24 22:40] wearhere commented on #246
Title first, then message (and asserting if both are `nil`) sounds good.

Btw is it `staticTexts()[1]` even if there's no title? I thought I saw then that there would be only one static text element. To be safe we should probably do something like

[code]

[2014-07-24 23:07] ghost commented on #246
Ah, makes sense to do that! I was just doing a quick change for verification reasons. Thanks!

[2014-07-31 20:29] hongkai opened #247 ""WebKit Threading Violation" error on Xcode6 and iOS8"
I am trying to run subliminal test on Mavericks + Xcode6 beta4 and iOS8 and keep getting the "WebKit Threading Violation" below.  (The same app runs fine with subliminal-test on Xcode 5 and iOS7 device/simulator.)

Has anyone else encounter this issue?

[code]

[2014-08-05 01:23] wearhere commented on #246
I take it that you tried out #248 @mrsamuelkim? I'd like to have its merger close this issue (via the "resolves" tag), but thanks for following up!

[2014-08-06 19:15] ghost commented on #246
@wearhere, ah, sorry about that!

[2014-08-06 19:15] ghost commented on #246
Oops. Sorry about that--again!

[2014-08-10 01:25] wearhere commented on #247
This issue appears to be inherent to `instruments`, not to the Automation template/Subliminal: I can get it even when executing `instruments -s devices`. But I'm not sure what triggers this--I've been running `instruments` for a while testing various things (within a single session) and only "recently" has it started appearing.

It also, as of beta 5, doesn't cause `instruments` to abort, at least

[2014-08-12 01:14] #246 closed, assigned to nobody

[2014-08-14 21:42] justinseanmartin opened #252 "Class tag NSSet could also include superclasses (up to SLTest)"
Just a thought, but in our case, we are tagging our classes much in the same way that we're organizing our class hierarchies. It might be nice if SLTest derivative classes also tagged themselves with their superclasses.

[2014-08-14 21:53] wearhere commented on #252
Oh oops, classes not inheriting tags was not by design. Will fix for 1.2.

[2014-08-15 01:00] justinseanmartin commented on #252
I was referring more to for the default "tags" that you're assigning for the name of the class.  You could do it like (off the cuff):

[code]

[2014-08-15 01:01] wearhere commented on #252
Gotcha.

[2014-08-15 19:39] #252 closed, assigned to nobody

[2014-08-18 12:27] sreejithjanardhanan opened #254 "System alerts in iOS 7[Question]"
Just wanted to ask you whether subliminal is capable of accessing system alerts in iOS 7. We tried to automate both inApp purchase and location alert and failed. We also tried UIAutomation tool and used record and playback option, but  result was the same. Code we followed for automating system alerts was sourced from your blog itself adding it below for reference.

SLAlert *buyAlert = [SLAlert al

[2014-08-18 15:58] justinseanmartin commented on #254
My guess of the top of my head is that the hyphen being displayed in the alert title is not the standard ASCII one, but instead a UTF8 variant like EM_DASH (http://www.charbase.com/2014-unicode-em-dash).

[2014-08-19 00:51] wearhere commented on #254
Were you testing in an iOS 7 device or simulator, @sreejithjanardhanan? Also, what does the failure you're seeing look like? i.e. does the alert pop up at all?

I ask because I can't test in-app purchase in the iOS 7 Simulator--prices won't load. This was [a known issue (rdar://13962338)](https://developer.apple.com/library/mac/releasenotes/DeveloperTools/RN-Xcode/xc5_release_notes/xc5_release_not

[2014-08-19 00:56] wearhere commented on #254
Broadly speaking, Subliminal should be able to handle any system alerts. I have to run at the moment but I'm pretty sure I've successfully tested the location alert too. Can you describe what you're trying in that case?

[2014-08-19 10:45] sreejithjanardhanan commented on #254
Thanks for your replies. We tried in both simulator and phone. And you are right about the fact that in-app purchase dialog wont appear in simulator.

Lets leave aside subliminal for the moment. Will tell you what I tried using UIAutomation.

Consider an app that requires location so that when  app launches a location alert will be shown. we tried the record an playback feature of UIAutomation  to

[2014-08-19 11:00] wearhere commented on #254
Ah, I think what you're seeing as regards recording is that, as of iOS 7, system alerts have become [remote views](http://oleb.net/blog/2012/10/remote-view-controllers-in-ios-6/). Instruments will not _record_ interaction in these views, as they belong to another process than your app. However, the views are still accessible, and Instruments will fortunately _play back_ commands that manipulate th

[2014-08-25 12:12] sreejithjanardhanan commented on #254
@wearhere  Thank you for your answer. Delay part was the key in here. Now it works well.

[2014-08-25 12:13] #254 closed, assigned to nobody

[2014-08-26 21:45] #234 closed, assigned to wearhere

[2014-08-28 23:08] wearhere opened #258 "Upgrade to XCTest."
To be tackled after we drop support for 5.1 and 6.1 (#245), at the end of the 2.0 release cycle, unless Xcode 6 forces our hand by dropping support for XCTest (it is only deprecated as of Beta 6). [XCTest only supports iOS 6 and later](https://developer.apple.com/library/prerelease/ios/documentation/DeveloperTools/Conceptual/testing_with_xcode/A3-transitioning_ocunit_to_xctest/A3-transitioning_ocu

[2014-08-29 00:54] #241 closed, assigned to wearhere

[2014-08-29 01:01] #214 closed, assigned to nobody

[2014-08-29 07:22] wearhere commented on #221
This is unblocked. Work should be done atop `shared/xcode6` (see #259).

[2014-09-02 19:17] plantpurecode opened #260 "When contained in a UITableView, UIControls which contain any control will not be filtered"
When a `UIControl` is contained within a `UITableView` _and_ it has a child which derives from `UIControl`, Subliminal doesn't correctly filter the parent `UIControl` in between.

[2014-09-03 09:32] KenLau opened #262 "Is it possible for me to re-run the script?"
I tried it, it's amazing for developers. However, every time, i start running the app through Instrument, and the test script finished, i cannot re-run it, when i press the run button in the bottom, it start loading with the cursor, but nothing happened, is it a bug or feature that will be added later?

[2014-09-03 09:57] wearhere commented on #262
Hi @KenLau, it sounds like you're trying to use the run button at the bottom of Instruments as shown in [this picture](http://blog.manbolo.com/2012/04/08/uiautomation-1.png). Those buttons do re-run the script--but without re-starting the app (which is crucial for Subliminal because the script doesn't do anything by itself, it just receives commands from your tests inside the app).

To re-start th

[2014-09-07 19:27] wearhere commented on #262
@KenLau I'm going to close this until I hear that the instructions above don't work or I missed something--please let me know if so. Thanks!

[2014-09-07 19:27] #262 closed, assigned to nobody

[2014-09-10 22:43] jmarinotw opened #264 "-[SLKeyboard typeString:] is no longer working"
I found an issue with Subliminal in the Xcode6 GM. The method `-[SLKeyboard typeString:]` is no longer working.

It seems that the underlying method `UIAKeyboard.typeString` is no longer available in this build of instruments/simulator. I tried accessing this method directly with the JavaScript interface and had the same problem.

Is anyone else seeing this issue?

[2014-09-11 00:18] jmarinotw commented on #264
It turns out that the keyboard needs to be on screen for these methods to work. If you disable the `connect hardware keyboard` setting it works as expected.

[2014-09-11 00:18] #264 closed, assigned to nobody

[2014-09-23 01:43] justinseanmartin commented on #97
"Simulator session timed out" is the error that we're seeing. We're not sure of the condition that is causing this to happen, but recently it started happening much more frequently (at least 2-3 times a day). Unfortunately, as far as we can tell, AppleScript appears to be unable to enumerate the alert window for the "instruments" process.

[code]

And here is our script:

[code]

I really haven't

[2014-09-23 22:36] wearhere commented on #97
We believe(d, at least at one time) that the reason for the error @aegolden saw was because we `exit()` from Subliminal's completion handler rather than letting Instruments kill the app. @justinseanmartin says (in chat) that he's not doing that, yet still seeing this error... they still sound pretty similar to me.

You can see the script we were using to catch alerts [here](https://github.com/inkl

[2014-09-23 22:55] wearhere commented on #97
I don't think that suppressing the alert is even that hacky. @justinseanmartin points out that there's only 1 button to push and no input required–so us suppressing the alert is equivalent to it having shown and been dismissed.

[2014-09-23 23:00] justinseanmartin commented on #97
Here is my WIP branch:

https://github.com/justinseanmartin/Subliminal/tree/jmartin/issue-97

I'm not certain that this is working as I expect it too, but I'll be monitoring it over the next few days.

[2014-10-09 08:30] cybertk commented on #247
Any update?

[2014-10-09 08:47] cybertk commented on #247
See https://groups.google.com/forum/#!msg/calabash-ios/DapUUgOxihA/zwB3A4_0rBQJ

[2014-11-08 19:05] KrauseFx commented on #247
This is definitely related to the `Instruments` and not `Subliminal`. Ran into the same issue.

[2014-11-26 21:49] psugihara opened #268 "Testing push notifications"
Cool library! What's the recommended solution for testing how my app responds to push notifs?

[2014-11-27 16:10] abid2net opened #269 "Unable to run the test in Xcode 6.1 with iOS 8.1"
While trying to run the test in Xcode 6.1 with iOS 8.1 I am getting this error "An error occurred while trying to run the script."

[2014-12-08 19:09] flogehring commented on #247
I saw the same issue and it disappeared after I removed my Xcode plugins from `~/Library/Application Support/Developer/Shared/Xcode/Plug-ins/`

[2015-01-23 11:03] runloop commented on #247
I have this issue and removing my plugins did not help.

[2015-01-25 20:05] ewanmellor opened #272 "Please merge Xcode6 branch into master"
Please merge the Xcode6 branch into master.  I have spent a long time digging through various forks to get to a working Xcode6 implementation, and I've come to the conclusion that 95% of it is already on inkling/shared/Xcode6.  (I have couple of changesets to follow).

[2015-03-23 01:59] mokagio commented on #247
Same here. :+1:

[2015-03-23 02:46] MJanach commented on #247
I am getting the same error with these specs:
Appium v1.3.6
Yosemite 10.10.2
Xcode 6.2(6C131e)
iOS 8.2(12D508)

[2015-04-29 21:33] Tylerc230 commented on #272
Has anyone found a method of testing with xcode 6.3 iOS 8.x?

[2015-05-29 19:15] bayamp commented on #247
Did anyone figure out solution for this? I'm facing the same issue.

[2017-10-11 06:41] #247 closed